html, body {
    margin: 0;
    padding: 0;
    background: White;
    color: DarkSlateGrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
}
div#main {
    margin: 0;
    padding: 0 20px 20px;
}
a {
    background: transparent;
    color: maroon;
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    font-family: "Segoe UI", SansSerif, sans-serif;
    color: #0a38a2;
}

.delete-button {
    border:none;
    outline:none;
    background: transparent;
    cursor:pointer;
    color: maroon;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
    font-weight: bold;
}