<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Movies</title>
</head>
<body>
    <h2>Movies</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Description</th>
            <th>Released</th>
            <th>Link</th>
        </tr>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.getContent().title}"></td>
            <td th:text="${movie.getContent().rating}"></td>
            <td th:text="${movie.getContent().description}"></td>
            <td th:text="${movie.getContent().released}"></td>
            <td> <a th:href="${movie.links[0].href}">Movie page</a></td>
        </tr>
    </table>

    <a href="/movies/new">Add a new movie</a>
</body>
</html>