<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
    <title th:text="${movie.getContent().title}"></title>
</head>
<body>
    <h2 th:text="${movie.getContent().title}"></h2>
    <p th:text="${movie.getContent().rating}"> </p>
    <p th:text="${movie.getContent().description}"> </p>
    <p th:text="${movie.getContent().released}"> </p>
    <a th:href="${movie.links[1].href}">Edit</a>
    <form th:action="${movie.links[2].href}" method="post">
        <button type="submit" class="delete-button">Delete</button>
    </form>
    <a th:href="${movie.links[3].href}">All movies</a>
</body>
</html>
